.sidebar {
  width: var(--filter-box-breite);
  display: block;
  transition: 0.5s;
}

.sidebar-content {
  position: sticky;
  top: var(--content-top);
  padding: var(--padding-content);
}

#close-filter-box {
  border: 0.1vh solid blue;
  border-radius: 3vh;
  padding: 1vh;
  margin: var(--margin-content);
}

#open-filter-box {
  display: none;
  /* transform: rotate(90deg); */
}

.filter-box {
  display: flex;
  flex-direction: column;
  -webkit-transition: 1s;
  transition: 1s;
}

.filter-button {
  text-transform: capitalize;
  font-size: 1.4vh;
  font-family: "Comfortaa", cursive;
  border-radius: 3vh;
  border: 0.1vh solid blue;
  outline: none;
  background-color: white;
  text-align: left;
  margin: var(--margin-content);
  padding: 1vh;
}

.hamburger {
  font-size: 1.4vh;
  font-family: "Comfortaa", cursive;
  flex-direction: row;
  border: 0.1vh solid blue;
  border-radius: 3vh;
  padding: 1vh;
  margin: var(--margin-content);
}

.sidebar.collapse .filter-box,
.sidebar.collapse #close-filter-box {
  display: none;
}

.sidebar.collapse #open-filter-box {
  display: inline;
  padding: 1vh;
}

.sidebar.collapse {
  width: 3.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
